<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <title>Lembre-se - Termos e Condições</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Nossos Termos e Condições de Uso" />
  <meta name="author" content="" />

  <link href="static/css/bootstrap.css" rel="stylesheet" />
  <link href="static/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="static/css/prettyPhoto.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">

  <link href="static/css/terms.css" rel="stylesheet">

  <link id="t-colors" href="static/color/default.css" rel="stylesheet" />

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="static/ico/favicon.png" />
</head>

<body>
<audio autoplay loop hidden>
  <source src="static/musica/Lembre de Mim (Canção de Ninar) (De _Viva - A Vida é uma Festa__Com letra)(MP3_160K).mp3" type="audio/mpeg">
</audio>
  <div id="wrapper">
    <header>
      <div class="top">
        <div class="container">
          <div class="row">
            <div class="span6">
              <ul class="topmenu">
                <li><a href="/">Início</a> &#47;</li>
                <li><a href="/termos">Termos</a> &#47;</li>
                <li><a href="#">Política de privacidade</a></li>
              </ul>
            </div>
            <div class="span6">

              <ul class="social-network">
                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-circled icon-bglight icon-facebook"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-circled icon-bglight icon-twitter"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-circled icon-linkedin icon-bglight"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-circled icon-pinterest  icon-bglight"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Google +"><i class="icon-circled icon-google-plus icon-bglight"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="container">

        <div class="row nomargin">
          <div class="span4">
            <div class="logo">
              <h1><a href="/"><i class="icon-tint"></i> Lembre-se</a></h1>
            </div>
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">
                    <li><a href="/">Início</a></li>
                    <li class="dropdown">
                      <a href="#">Recursos <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="typography.html">Tipografia</a></li>
                        <li><a href="components.html">Componentes</a></li>
                        <li><a href="icons.html">Ícones</a></li>
                        <li><a href="icon-variations.html">Variações de ícones</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Páginas <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="about.html">Sobre nós</a></li>
                        <li><a href="pricingbox.html">Tabelas de preços</a></li>
                        <li><a href="404.html">404</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Cadastro</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Portfólio <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="portfolio-2cols.html">Portfólio 2 colunas</a></li>
                        <li><a href="portfolio-3cols.html">Portfólio 3 colunas</a></li>
                        <li><a href="portfolio-4cols.html">Portfólio 4 colunas</a></li>
                        <li><a href="portfolio-detail.html">Detalhes do portfólio</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Blog <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="blog-left-sidebar.html">Blog barra lateral esquerda</a></li>
                        <li><a href="blog-right-sidebar.html">Blog barra lateral direita</a></li>
                        <li><a href="post-left-sidebar.html">Post barra lateral esquerda</a></li>
                        <li><a href="post-right-sidebar.html">Post barra lateral direita</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="contact.html">Contato </a>
                    </li>
                  </ul>
                </nav>
              </div>
              </div>
          </div>
        </div>
      </div>
    </header>
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>Termos de Uso</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="/">Início</a> <i class="icon-angle-right"></i></li>
              <li class="active">Termos e Condições</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span10 offset1">
            <div class="terms-content">
              <h3>Termos e Condições Gerais de Uso</h3>
              <p>Bem-vindo ao Lembre-se. Ao acessar e utilizar este site, você concorda em cumprir e ficar vinculado aos seguintes termos e condições de uso, que, juntamente com nossa política de privacidade, governam a relação do Lembre-se com você em relação a este site.</p>

              <h4>1. Aceitação dos Termos</h4>
              <p>Ao acessar este site, você concorda em ficar vinculado a estes Termos e Condições de Uso do site, a todas as leis e regulamentos aplicáveis e concorda que é responsável pelo cumprimento de quaisquer leis locais aplicáveis. Se você não concordar com algum destes termos, está proibido de usar ou acessar este site.</p>

              <h4>2. Licença de Uso</h4>
              <p>É concedida permissão para baixar temporariamente uma cópia dos materiais (informações ou software) no site da Lembre-se, apenas para visualização transitória pessoal e não comercial. Esta é a concessão de uma licença, não uma transferência de título e, sob esta licença, você não pode:</p>
              <ul>
                <li>Modificar ou copiar os materiais;</li>
                <li>Usar os materiais para qualquer finalidade comercial ou para exibição pública (comercial ou não comercial);</li>
                <li>Tentar descompilar ou fazer engenharia reversa de qualquer software contido no site Lembre-se;</li>
                <li>Remover quaisquer direitos autorais ou outras notações de propriedade dos materiais; ou</li>
                <li>Transferir os materiais para outra pessoa ou 'espelhar' os materiais em qualquer outro servidor.</li>
              </ul>

              <h4>3. Isenção de Responsabilidade</h4>
              <p>Os materiais no site da Lembre-se são fornecidos "como estão". A Lembre-se não oferece garantias, expressas ou implícitas, e, por este meio, isenta e nega todas as outras garantias, incluindo, sem limitação, garantias implícitas ou condições de comercialização, adequação a um fim específico ou não violação de propriedade intelectual ou outra violação de direitos.</p>

              <h4>4. Limitações</h4>
              <p>Em nenhum caso a Lembre-se ou seus fornecedores serão responsáveis por quaisquer danos (incluindo, sem limitação, danos por perda de dados ou lucro ou devido a interrupção dos negócios) decorrentes do uso ou da incapacidade de usar os materiais em Lembre-se, mesmo que Lembre-se ou um representante autorizado da Lembre-se tenha sido notificado oralmente ou por escrito da possibilidade de tais danos.</p>

              <h4>5. Revisões e Erratas</h4>
              <p>Os materiais exibidos no site da Lembre-se podem incluir erros técnicos, tipográficos ou fotográficos. A Lembre-se não garante que qualquer material em seu site seja preciso, completo ou atual. A Lembre-se pode fazer alterações nos materiais contidos em seu site a qualquer momento, sem aviso prévio.</p>

              <h4>6. Atualização dos Termos de Uso</h4>
              <p>A Lembre-se pode revisar estes termos de uso do site a qualquer momento, sem aviso prévio. Ao usar este site, você concorda em ficar vinculado à versão atual desses Termos e Condições de Uso.</p>

              <hr style="margin-top: 30px; border-top: 1px solid #e9e9e9;">
              <p><small><em>Última atualização: 20 de Fevereiro de 2026.</em></small></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="widget">
              <div class="footer_logo">
                <h3><a href="/"><i class="icon-tint"></i> Lembre-se</a></h3>
              </div>
              <address>
                        <strong>Lembre-se company Inc.</strong><br>
                      Rua Qualquer KW 101, Vila do Parque W.01<br>
                      Jacarta 13426 Indonésia
                   </address>
              <p>
                <i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891 <br>
                <i class="icon-envelope-alt"></i> email@seudominio.com
              </p>
            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <h5 class="widgetheading">Navegar pelas páginas</h5>
              <ul class="link-list">
                <li><a href="#">Nossa empresa</a></li>
                <li><a href="/termos">Termos e condições</a></li>
                <li><a href="#">Política de privacidade</a></li>
                <li><a href="#">Comunicado de imprensa</a></li>
                <li><a href="#">O que fizemos</a></li>
                <li><a href="#">Nosso fórum de suporte</a></li>
              </ul>
            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <h5 class="widgetheading">Do Flickr</h5>
              <div class="flickr_badge">
                <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="sub-footer">
        <div class="container">
          <div class="row">
            <div class="span6">
              <div class="copyright">
                <p><span>&copy; Lembre-se Inc. Todos os direitos reservados</span></p>
              </div>
            </div>
            <div class="span6">
              <div class="credits">
                Criado por <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <a href="#" class="scrollup"><i class="icon-angle-up icon-rounded icon-bglight icon-2x"></i></a>

  <script src="static/js/jquery.js"></script>
  <script src="static/js/jquery.easing.1.3.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script src="static/js/modernizr.custom.js"></script>
  <script src="static/js/toucheffects.js"></script>
  <script src="static/js/google-code-prettify/prettify.js"></script>
  <script src="static/js/jquery.prettyPhoto.js"></script>
  <script src="static/js/portfolio/jquery.quicksand.js"></script>
  <script src="static/js/portfolio/setting.js"></script>
  <script src="static/js/animate.js"></script>
  <script src="static/js/custom.js"></script>

</body>

</html>